# Minimum severity level for npm audit to fail the process
# low | moderate | high | critical
audit-level=high

# Avoid installing peer dependencies automatically
legacy-peer-deps=false

# Hide funding message in CI
fund=false

# Don't fail if Node engine version doesn't match exactly
engine-strict=false